{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block main %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>

    <header>
        <h1>Portal Unipac</h1>
        <h2>Exercícios - Aula {{user.profile.aula_atual.id}}</h2>
    </header>

    <section class="row">
        <div class="col">
    
        </div>
            
        <div class="col-10 col-sm-9 col-md-7 text-justify shadow p-3 mb-5 bg-white rounded align-center">
            <form method="POST" >
                <ol class="container">
                    {% csrf_token %}
                    {% for questao in questoes %}
                        <div class="container">
                            <h5><li>{{ questao.questao }}</li></h5>

                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="{{ questao.alt1 }}{{ questao.id }}" name="{{ questao.id }}" value="{{ questao.alt1 }}">
                                <label class="custom-control-label" for="{{ questao.alt1 }}{{ questao.id }}">{{ questao.alt1 }}</label>
                            </div>
                            
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="{{ questao.alt2 }}{{ questao.id }}" name="{{ questao.id }}" value="{{ questao.alt2 }}">
                                <label class="custom-control-label" for="{{ questao.alt2 }}{{ questao.id }}">{{ questao.alt2 }}</label>
                            </div>

                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="{{ questao.alt3 }}{{ questao.id }}" name="{{ questao.id }}" value="{{ questao.alt3 }}">
                                <label class="custom-control-label" for="{{ questao.alt3 }}{{ questao.id }}">{{ questao.alt3 }}</label>
                            </div>

                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="{{ questao.alt4 }}{{ questao.id }}" name="{{ questao.id }}" value="{{ questao.alt4 }}">
                                <label class="custom-control-label" for="{{ questao.alt4 }}{{ questao.id }}">{{ questao.alt4 }}</label>
                            </div>

                            <div class="border-bottom mt-5 mb-2"></div>
                        </div>
                    {% endfor %}
                    <div class="container">
                        <input type="submit" class="btn btn-success mt-5" value="CONCLUÍDO" name="aplicar">
                        <input type="submit" class="btn btn-secondary mt-5" value="CANCELAR" name="cancelar">
                    </div>
                </ol>
            </form>
        </div>
         
        <div class="col">
            
        </div>
    </section>

    <!--teste com equações-->
    <!--When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are-->
    <!--$$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$-->

    

{% endblock %}
